/*ini css*/

:root {
  --color-1: black;
  --text-color: white;
  --accent-color: crimson;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 12pt;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav {
  height: 60px;
  background-color: var(--color-1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a {
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
}
nav a:hover {
  background-color: var(--accent-color);
}
nav a:hover {
  background-color: var(--accent-color);
}

nav .home-link {
  margin-right: auto;
  padding: 15px;
}

nav svg {
  fill: var(--text-color);
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

@media (max-width: 450px) {
  .links-container {
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 250px;

    background-color: var(--color-1);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease-out;
  }
  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30 px;
    justify-content: center;
  }

  .open-sidebar-button,
  .close-sidebar-button {
    padding: 20px;
    display: block;
  }
  #sidebar-active:checked ~ .links-container {
    right: 0;
  }
  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}

header {
  background-color: black;
  color: white;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 20px;
}

main {
  padding: 20px;
}

.main {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 100%;
  margin: 0 auto 20px 0;
}

.slides {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-quote {
  font-size: 1.2em;
  margin: 20px 0;
  font-style: italic;
  color: black;
}

.main-author {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.author-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.author-info img:hover {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.features {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 100%;
  margin: 0 auto 20px 0;
  font-size: large;
}

.features {
  text-align: center;
}

.features p {
  margin-bottom: 20px;
}

.features ol {
  padding-left: 20px;
}

.features li {
  margin-bottom: 10px;
  list-style-type: decimal;
}

.container {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.package-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: crimson;
  color: white;
  height: 100px;
  width: 100%;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.packages-section {
  text-align: center;
  background-color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.package-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.package-card {
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.package-card img {
  width: 75px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  table-layout: fixed;
}

.package-card h3 {
  margin: 10px 0;
}

.package-card p {
  margin: 0;
}

.package-card {
  width: 90%;
  margin: 10px auto;
}

.closing-argument {
  text-align: center;
  background-color: black;
  color: white;
  padding: 40px 20px;
  margin: 20px 0;
  border-top: 1px solid black;
}

.closing-argument h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.closing-argument p {
  font-size: 1em;
  margin-bottom: 20px;
}

.closing-argument button {
  background-color: crimson;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: black;
  color: white;
}

footer p {
  margin: 5px 0;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

.banana {
  padding: 50px 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.parent {
  height: 400px;
  width: 300px;
  padding: 20px;
  perspective: 1000px;
}

.card {
  padding-top: 100px;
  transform-style: preserve-3d;
  background-image: url("https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center center;
  width: 100%;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}
.card:hover {
  background-position: 80% 20%;
  transform: rotate3d(0.5, 1, 0, 30deg);
}

.content-box {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.811);
  border-radius: 0px 0px 10px 10px;
  box-shadow: rgba(0, 115, 255, 0.925) 0px 20px 50px -25px;
  transition: all 0.5s ease-in-out;
  padding: 50px 25px 25px 25px;
  transform-style: preserve-3d;
}
.content-box .card-title {
  color: white;
  font-size: 25px;
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}
.content-box .card-title:hover {
  transform: translate3d(0px, 0px, 50px);
}
.content-box .card-content {
  padding-top: 15px;
  font-size: 12px;
  color: #b9b9b9;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}
.content-box .card-content:hover {
  transform: translate3d(0px, 0px, 50px);
}
.content-box .see-more {
  display: block;
  font-weight: 900;
  font-size: 11px;
  text-transform: uppercase;
  color: #0088ff;
  padding-top: 15px;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}
.content-box .see-more:hover {
  transform: translate3d(0px, 0px, 50px);
}

.date-box {
  position: absolute;
  top: 75px;
  left: 25px;
  height: 60px;
  width: 60px;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: #0066ff 0px 20px 60px 0px, #00c8ff 0px 18px 36px -18px;
  transform: translate3d(0px, 0px, 50px);
}
.date-box span {
  display: block;
  text-align: center;
}
.date-box .month {
  color: white;
  font-size: 11px;
  font-weight: 700;
}
.date-box .date {
  font-size: 20px;
  font-weight: 900;
  color: #0088ff;
}

.card2 {
  filter: hue-rotate(150deg);
}

.card3 {
  filter: hue-rotate(300deg);
}

.card4 {
  filter: hue-rotate(90deg);
}
