/*ini css*/

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 15px;
  width: 100%;
  height: 100%;
  background-color: black;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.brand {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  padding: 15px;
  text-transform: capitalize;
}

.firstname {
  color: white;
  font-weight: 700;
}
.lastname {
  color: crimson;
  padding-left: 4px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation > li {
  list-style-type: none;
  padding: 15px;
}

.navigation > li > a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation > li > a:hover {
  color: crimson;
  transition: all 0.3s ease-in-out;
}

.navigation > li > img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.navigation > li > img:hover {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  transition: all 0.3s ease-in-out;
}

.active {
  background-color: crimson;
  color: white;
  padding: 15px;
}

.active:hover {
  color: white !important;
}

header {
  background-color: black;
  color: white;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 20px;
}

main {
  padding: 20px;
}

.main {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 100%;
  margin: 0 auto 20px 0;
}

.main-asset img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.main-quote {
  font-size: 1.2em;
  margin: 20px 0;
  font-style: italic;
  color: black;
}

.main-author {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.author-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.features {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 100%;
  margin: 0 auto 20px 0;
  font-size: large;
}

.features {
  text-align: center;
}

.features p {
  margin-bottom: 20px;
}

.features ol {
  padding-left: 20px;
}

.features li {
  margin-bottom: 10px;
  list-style-type: decimal;
}

.container {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.package-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: crimson;
  color: white;
  height: 100px;
  width: 100%;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.packages-section {
  text-align: center;
  background-color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.package-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.package-card {
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
}

.package-card img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

.package-card h3 {
  margin: 10px 0;
}

.package-card p {
  margin: 0;
}

.package-card {
  width: 90%;
  margin: 10px auto;
}

.closing-argument {
  text-align: center;
  background-color: black;
  color: white;
  padding: 40px 20px;
  margin: 20px 0;
  border-top: 1px solid black;
}

.closing-argument h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.closing-argument p {
  font-size: 1em;
  margin-bottom: 20px;
}

.closing-argument button {
  background-color: crimson;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: black;
  color: white;
}

footer p {
  margin: 5px 0;
}
